
<body class="template-page skin-1">
	<div class="page-wrapper">
		<main class="main">
			<div class="page page-404">
				<div class="container container-full">
					<div class="row">
						<div class="banner-item img-box">
							<a href="#" class="image  img-desktop">
								<img src="assets/images/Pages/404/404Page.jpg" class="img-background" alt="Ella - Banner">
							</a>
						</div>
						<div class="content content-box--left content-box--absolute">
							<div class="number">404</div>
							<h3 class="title"><span class="text">Oops!Page Not Found</span></h3>
							<div class="desc">span Sorry! The page you’re looking for clocked out!</div>
							<a asp-controller="Home" asp-action="index" class="return link link-underline"><span class="text"> Return to Home</span></a>
						</div>
					</div>
				</div>
			</div>
		</main><
	</div>
</body>

<link rel="stylesheet" href="~/assets/sass/pages/page-404.css">



