@using EllaSuper.ViewModels
@model List<WishListViewModel>
<link rel="stylesheet" href="~/assets/sass/pages/wishlists.css">
<main class="main">
    <section class="page page-wishlist">
        <div class="container container-1170">
            <div class="row">
                <div class="heading">
                    <nav class="breadcrumb breadcrumb-left" aria-label="breadcrumbs">
                        <a class="link" href="index-2.html">Home</a><span class="separate" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 7.75 1.34375 L 6.25 2.65625 L 14.65625 12 L 6.25 21.34375 L 7.75 22.65625 L 16.75 12.65625 L 17.34375 12 L 16.75 11.34375 Z"></path></svg></span>
                        <span>Wish Lists</span>
                    </nav>
                    <h3 class="page-title text-left uppercase">
                        Wish Lists
                    </h3>
                </div>
                <div class="wishlist-table-wrapper">
                    <div class="wishlist-rowHeading uppercase">
                        <h4 class="wishlist-rowItem wishlist-image">image</h4>
                        <h4 class="wishlist-rowItem wishlist-product-name">product name</h4>
                        <h4 class="wishlist-rowItem wishlist-price">price</h4>
                        <h4 class="wishlist-rowItem wishlist-add">add</h4>
                        <h4 class="wishlist-rowItem wishlist-remove">remove</h4>
                    </div>
                    <div class="wishlist-items">
                        @foreach (var item in Model)
                        {
                            <div class="wishlist-row" id="@(item.Id+"div")">
                                <div class="wishlist-rowItem wishlist-image">
                                    <div class="item">
                                        <a href="#" class="item-image"><img src="~/assets/images/product/@item.ImageUrl" alt="Ella - Wishlist"></a>
                                    </div>
                                </div>
                                <div class="wishlist-rowItem wishlist-product-name">
                                    <div class="item">
                                        <div class="item-info">
                                            <a class="item-title link link-underline" href="#">
                                                <span class="text desc">@item.Name</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="wishlist-rowItem wishlist-price">
                                    <div class="item-price"><span class="money">$@item.DiscountPrice</span></div>
                                </div>
                                <div class="wishlist-rowItem wishlist-add">
                                     <input type="hidden"  value="@item.Id">
                                    <a id="add-product-to-cart">add to cart</a>
                                </div>
                                <div class="wishlist-rowItem wishlist-remove">
                                    <a class="item-remove wishlist-added" style="font-size:16px" id="WishlistLink">
                                            <input type="hidden" id="wishlistId" value="@item.Id">
                                            <i class="fa-solid fa-xmark"></i>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div> <!-- End wishlist table wrapper -->
            </div>
        </div>
    </section>
</main><!-- End main -->
@section Scripts
    {
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="lib/bootstrap/popper.min.js"></script>

    <script>
        $(document).on('click', '#WishlistLink', function () {
            var productId = $(this).children().val();
            console.log(productId)
            $.ajax({
                type: "POST",
                url: "/WishList/DeleteProductFromWishList",
                data: { productId: productId },
                success: function () {
                    $("#" + productId + "div").remove();

                },
            });
        })
        $(document).on('click', '#add-product-to-cart', function () {

            var productId = $(this).parent().children().val();
            console.log("aaaa")
            $.ajax({
                type: "POST",
                url: '/Basket/AddToBasket',
                data: { productId: productId },
                success: function () {
                },
            });

        })
    </script>
   
}

