@using Ella.Core.Entity
@using Ella.BLL.Helpers
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    var blogs = Model;
}

<main class="main">
    <div class="blog-template blog-template-default">
        <div class="container container-1170">
            <div class="page-header">
                <nav class="breadcrumb text-left ">
                    <a class="link-underline"  asp-controller="home" asp-action="index"><span class="text">Home</span></a>
                    <span class="separate" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 7.75 1.34375 L 6.25 2.65625 L 14.65625 12 L 6.25 21.34375 L 7.75 22.65625 L 16.75 12.65625 L 17.34375 12 L 16.75 11.34375 Z"></path></svg></span>
                    <span class="bread-text">Blog</span>
                </nav>
                <h3 class="page-title text-left uppercase">
                    Blog
                </h3>
            </div>
            <div class="halo-blog-content halo-grid-content">
                <div class="page-sidebar page-sidebar-left page-sidebar--vertical">
                    <div class="halo-sidebar-header text-left">
                        <span class="title">Sidebar</span>
                        <a href="javascript:void(0)" class="halo-page-sidebar-close" data-close-sidebar="" role="button">
                            <span class="visually-hidden">Close</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" role="presentation">
                                <path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="halo-sidebar-wrapper custom-scrollbar">
                       
                    </div>
                </div>
                <div class="page-content main-blog">
                    <div class="sidebar-toogle" data-sidebar="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" class="icon icon-sidebar" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve"><g><path d="M6,48c-0.552,0-1-0.447-1-1v-7c0-0.553,0.448-1,1-1s1,0.447,1,1v7C7,47.553,6.552,48,6,48z"></path><path d="M6,31c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v29C7,30.553,6.552,31,6,31z"></path><g><path d="M6,41c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S9.309,41,6,41z M6,31c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4    S8.206,31,6,31z"></path><path d="M42,48c-0.552,0-1-0.447-1-1V26c0-0.553,0.448-1,1-1s1,0.447,1,1v21C43,47.553,42.552,48,42,48z"></path><path d="M42,17c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v15C43,16.553,42.552,17,42,17z"></path><path d="M42,27c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S45.309,27,42,27z M42,17c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S44.206,17,42,17z"></path><path d="M24,48c-0.552,0-1-0.447-1-1V21c0-0.553,0.448-1,1-1s1,0.447,1,1v26C25,47.553,24.552,48,24,48z"></path><path d="M24,12c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v10C25,11.553,24.552,12,24,12z"></path><path d="M24,22c-3.309,0-6-2.691-6-6s2.691-6,6-6c3.309,0,6,2.691,6,6S27.309,22,24,22z M24,12c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S26.206,12,24,12z"></path></g></g></svg>
                    </div>
                    <div class="list-article">
                        @foreach (var blog in blogs)
                        {
                            <div class="article-item">
                                <h3 class="article-title">
                                    <a href="#" class="link-underline">
                                        <span class="text">@blog.Title</span>
                                    </a>
                                </h3>
                                <p class="blog-info">
                                    <span class="blog-date"><time datetime="2022-02-15T03:54:13Z">@blog.Created</time></span>
                                    <span class="blog-author">@blog.Author</span>
                                </p>
                                <div class="article-details">
                                    <div class="article-img img-box">
                                        <a href="#" class="image image-adapt animate-scale" style="padding-top: 54.193548387%">
                                            <img src="~/assets/images/blog/@blog.ImageUrl" alt="Ella">
                                        </a>
                                    </div>
                                    <div class="desc">
                                        <p>@blog.Description</p>
                                    </div>
                                    
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- End main -->
